@lemmen-primary-first: #784C3C;
@lemmen-primary-second: #966A4C;
@lemmen-primary-third: #D3A789;
@lemmen-accent-first: #885544;
@lemmen-accent-second: #AA7755;
@lemmen-accent-third: #EEBB99;
@lemmen-black-base: #000;
@lemmen-black-accent: #121212;
@lemmen-white-base: #fff;
@lemmen-white-accent: #FCFCFC;

@lemmen-grid-no-hover-opacity: 0.5;
@lemmen-grid-hover-opacity: 0.9;

@lemmen-main-menu-height: 90px;

@desktop: ~"only screen and (min-width : 992px)";
@tablet: ~"only screen and (min-width : 768px)";
@phone: ~"only screen and (min-width : 320px)";

.lemmenColor(@category, @accent){
  @color: ~"@{lemmen-@{category}-@{accent}}";
}

.main-menu-placeholder{
  display: block;
  margin: 0;
  width: 100%;
  height: @lemmen-main-menu-height;
}

.lemmen-outline{
  .lemmenColor(accent, second);
  outline: solid 4px @color;
  outline-offset: -10px;
}

.randomColor(){
  @randomColor: `Math.floor(Math.random()*16777215).toString(16)`;
  @colorHex: e(@randomColor);
  @color: ~"#@{colorHex}";
}

body {
  background-color: #ffffff;
  width: 100%;
}

.main.menu{
  border-radius: 0;
  border: none;
  box-shadow: none;
  font-size: 1.2em;
  transition: box-shadow 0.5s ease, padding 0.5s ease;
  .item{
    height: @lemmen-main-menu-height;
    &.text {
      padding: 0;
      line-height:@lemmen-main-menu-height;
    }
    &.logo {
      padding: 0;
    }
    > .logo{
      height: @lemmen-main-menu-height;
      max-width: 100%;
    }
  }
  .grid{
    margin: 0;
    width: 100%;
  }
  &.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
}

.sub.menu {
  display: flex;
  border-radius: 0;
  border: none;
  box-shadow: none;
  .item{
    height: 5em;
    &.text {
      .lemmen-outline;
      padding: 8px;

      span{
        display: block;
        height: 100%;
        width: auto;
        line-height: 4;
      }
    }
    &.text:hover{
      span{
        background-color: @lemmen-accent-second;
        color: @lemmen-white-base;
      }
    }
  }
  .grid{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
  }
}



@media @tablet {
  .main.menu {
    border-radius: 0;
    font-size: 1.2em;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.5s ease, padding 0.5s ease;
    .item{
      height: @lemmen-main-menu-height;
      &.text {
        padding: 0;
        line-height:@lemmen-main-menu-height;
      }
      &.logo {
        padding: 0;
      }
      > .logo{
        height: @lemmen-main-menu-height;
        max-width: 100%;
      }
    }
    .grid{
      margin: 0;
      width: 100%;
    }
    &.fixed {
      background-color: #FFFFFF;
      border: 1px solid #DDD;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }
  }

  .sub.menu {
    display: flex;
    width: auto;
    border-radius: 0;
    border: none;
    box-shadow: none;
    .item{
      height: 5em;

      &.text {
        .lemmen-outline;
        padding: 8px;

        span{
          display: block;
          height: 100%;
          width: auto;
          line-height: 4;
        }
      }
      &.text:hover{
        span{
          background-color: @lemmen-accent-second;
          color: @lemmen-white-base;
        }
      }
    }
    .grid{
      margin-left: auto !important;
      margin-right: auto !important;
      width: 780px;
    }
  }

  .homepage-info{
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    background-color: white;
  }

  .lemmen.grid {

    .box-color-style{
      transition: background 200ms ease-in-out;
      &-1{
        background-color: rgba(102,65,51, @lemmen-grid-no-hover-opacity);
        &:hover{
          background-color: rgba(102,65,51, @lemmen-grid-hover-opacity);
        }
      }
      &-2{
        background-color: rgba(59,41,30, @lemmen-grid-no-hover-opacity);
        &:hover{
          background-color: rgba(59,41,30, @lemmen-grid-hover-opacity);
        }
      }
      &-3{
        background-color: rgba(87,69,56, @lemmen-grid-no-hover-opacity);
        &:hover{
          background-color: rgba(87,69,56, @lemmen-grid-hover-opacity);
        }
      }
    }

    width: auto;
    margin: 0;
    padding: 0 !important;
    height: ~"calc(100% - @{lemmen-main-menu-height} - 50px)";
    .row{
      height: 50%;
      margin: 0;
      padding: 0;
      .column{
        padding: 0;
        /*background-color: #84381e;*/
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .box{

          &:hover{
            .box-title{
              border: none;
              line-height: 65px;
              color: @lemmen-accent-first;
              margin-top: -30px;
              background-color: white;
            }
          }

          display: flex;
          margin: 0;
          padding: 0;
          width: auto;
          height: 100%;
          align-items: center;
          justify-content: center;

          .box-title{
            padding: 0;
            height: 65px;
            width: 50%;
            border: solid 4px white;
            color: white;
            line-height: calc(65px - 8px);
            font-size: 1.5em;
            transition: all 200ms ease-in-out;
          }
        }
      }
    }
  }

}

