/*& { @import "../semantic/src/semantic"; }*/

@lemmen-primary-first: #784C3C;
@lemmen-primary-second: #966A4C;
@lemmen-primary-third: #D3A789;
@lemmen-accent-first: #885544;
@lemmen-accent-second: #AA7755;
@lemmen-accent-third: #EEBB99;
@lemmen-black-base: #000;
@lemmen-black-accent: #121212;
@lemmen-white-base: #fff;
@lemmen-white-accent: #FCFCFC;

@lemmen-main-menu-height: 6.5em;

body {
  background-color: #ffffff;
}

.lemmen-outline{
  outline: solid 3px ~"@{lemmen-accent-first}";
  outline-offset: -10px;
}

.main.menu {
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition: box-shadow 0.5s ease, padding 0.5s ease;
  .item{
    height: @lemmen-main-menu-height;
    &.text {
      line-height: @lemmen-main-menu-height - 2em;
    }
    &.logo {
      padding: 0;
    }
    > .logo{
      height: @lemmen-main-menu-height;
      max-width: 100%;
    }
  }
  .grid{
    margin: 0;
    width: 100%;
  }
  &.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
}

.sub.menu {
  display: flex;
  width: auto;
  border-radius: 0;
  border: none;
  box-shadow: none;
  .item{
    height: 5em;

    &.text {
      line-height: 3em;
      .lemmen-outline;
    }
  }
  .grid{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 780px;
  }
}
