// colors

$color-1: #7f4e3d; // blue dark
$color-2: #AA7755; // green
$color-3: #f3f3f5; // grey light
$color-4: #6c7d8e; // blue light
$color-5: #ffffff; // white

// fonts 

$primary-font: 'Lato', sans-serif;